!!!
%html
  %head
    %title DemoApp
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      %header.clear
        / Defining the header section of the page with the appropriate tag
        %h1.left
          = image_tag "demo_logo.png"
        %nav.right
          / The nav link semantically marks your main site navigation
          %ul
            %li= link_to 'Home', '/'
            = render 'devise/menu/login_items'
      #content 
        %p.notice= notice
        %p.alert= alert
        = yield
      %footer  
